language: java
jdk:
  - oraclejdk8
addons:
  sonarcloud:
    organization: "improbable-keanu"
script:
  - ./gradlew clean build buildPython -i
  - 'if [[ ! -z $SONAR_TOKEN ]]; then sonar-scanner; fi'
