[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"py4j" = "==0.10.8.1"
numpy = "==1.16.1"
pandas = "==0.24.1"
keanu = {editable = true, path = "."}
nd4j = {editable = true, path = "./nd4j/"}

[dev-packages]
pytest = "==5.2.0"
mypy = "==0.670"
sphinx = "==1.8.4"
yapf = "==0.26.0"
matplotlib = "==3.0.2"
sphinx-autodoc-typehints = "==1.6.0"

[requires]
python_version = "3.6"
