[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
keanu = {editable = true,path = "./../../../../keanu-python"}

[requires]
python_version = "3.6"
